/* Styling Result */
.display-name {
  color: #ffffff;
}
.result-section {
  margin-top: 50px;
  margin-bottom: 25px;
}
.username {
  color: #66fcf1;
}
.again-btn {
  margin-top: 15px;
}
.h2 {
  color: #ffffff;
}
