/* Styling Form */
label {
  color: #66fcf1;
  margin-top: 30px;
  float: left;
}
.form-group {
  margin-bottom: 5px;
}
.form-control {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #66fcf1;
  border-radius: 0;
  opacity: 0.5;
  color: #ffffff;
}
.form-control:focus {
  background-color: transparent;
  box-shadow: none !important;
  border-bottom: 2px solid #66fcf1;
  opacity: 1;
}
.btn {
  background-color: #66fcf1;
  border-radius: 50px;
}
.btn:focus {
  box-shadow: none !important;
}
.col {
  max-width: 60% !important;
  margin: 0 auto !important;
}
.form-section {
  padding-top: 140px !important;
  text-align: center !important;
}
